body{
    min-height: 100vh
    display: flex
    align-items: center
    justify-content: center
    background: var(--bg)
}
.toggle-scene{
    overflow-visible : !important
    height: 50vmin
    position: absolute
}